@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
    --black: #4d4c59;
    --purple: #6c63ff;
    --light-grey: #c8c8c8;
    --text-color: #9c9ab6;
    --font: "Poppins", sans-serif;
}
.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.countdown-items {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;
    color: var(--light-grey);
    font-size: 12px;
}

.countdown-numbers {
    color: var(--black);
    font-size: 55px;
    font-weight: 500;
    margin: 0;
}

.countdown-subscribe {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 20px;
}

.countdown-button {
    background-color: var(--purple);
    border: none;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

#title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--purple);
}

.countdown-close-button {
    z-index: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    border-style: none;
    background-color: transparent;
    color: var(--purple);
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
}
.countdown-close-button-active {
    display: none;
    transition: all .3s ease;

}
@media (max-width: 600px) {
    .countdown-subscribe {
        width: 280px;
        font-weight: 500;
        font-size: 20px;
    }
    .countdown-items {
        padding: 15px;
        width: 55px;
    }
    #title {
        font-size: 30px;
    }
    .countdown-numbers {
        font-size: 45px;
    }
    .countdown-button {
        font-weight: 500;
        font-size: 20px;
        margin: 30px;
    }
}
